* {
  border: 1px solid red;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}

header {
  background: #cccccc;
  margin-top: 0px;
}
h3 {
  font-size: 40px;
  font-weight: bold;
  display: block;
  align-items: center;
}
.titulo-principal {
  text-align: center;
  font-size: 33px;
  font-weight: bold;
}
.encriptacion {
  margin-top: 10px;
}
.encriptador-lista {
  width: 1400px;
  height: 1000px;
  padding: 10px;
  margin-left: 20px;
  display: flex;
}
.encriptado {
  width: 940px;
  background: #f3f5fc;
  margin: 10px;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
  width: 1440px;
  height: 1224px;
}

div .left {
  width: 50%;
  margin: 0 0 0 50px;
}

div .right {
  background: #ffffff;
  margin: 20px 0 0 200px;
  border: 2px solid black;
  border-radius: 32px;
  padding: 10px;
  width: 400px;
  height: 944px;
  vertical-align: top;
  box-shadow: 0 24px 32px -8px black;
  display: inline-block;
}

.inputText {
  width: 400px;
  height: 944px;
  display: block;
  font-size: 20px;
  text-align: justify;
  border: none;
  font-style: normal;
}

.outputText {
  width: 400px;
  height: 920px;
  display: block;
  font-size: 22px;
  text-align: justify;
  border: none;
  font-style: italic;
}

.minusculas {
  display: block;
  font-size: 22px;
  font-weight: bold;
  padding: 20px;
  margin-left: 168px;
}
.boton-codificar {
  width: 328px;
  height: hug(67px);
  font-size: 22px;
  color: #ffffff;
  border-radius: 24px;
  padding: 24px;
  background: #0a3871;
  margin-left: 70px;
}
.boton-desencriptar {
  width: 328px;
  height: hug(67px);
  font-size: 22px;
  color: #0a3871;
  border-radius: 24px;
  padding: 24px;
  background: #d8dfe8;
  margin-left: 190px;
}

/* Footer */

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

/*Ignore me, I'm just page styling*/
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1em;
  height: 100%;
}
body {
  background: #ffffff;
  background: -moz-linear-gradient(
    -45deg,
    #ffffff 0%,
    #ffffff 50%,
    #f2f2f2 50%,
    #f2f2f2 50%,
    #f2f2f2 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #ffffff),
    color-stop(50%, #ffffff),
    color-stop(50%, #f2f2f2),
    color-stop(50%, #f2f2f2),
    color-stop(100%, #f2f2f2)
  );
  background: -webkit-linear-gradient(
    -45deg,
    #ffffff 0%,
    #ffffff 50%,
    #f2f2f2 50%,
    #f2f2f2 50%,
    #f2f2f2 100%
  );
  background: -o-linear-gradient(
    -45deg,
    #ffffff 0%,
    #ffffff 50%,
    #f2f2f2 50%,
    #f2f2f2 50%,
    #f2f2f2 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    #ffffff 0%,
    #ffffff 50%,
    #f2f2f2 50%,
    #f2f2f2 50%,
    #f2f2f2 100%
  );
  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #ffffff 50%,
    #f2f2f2 50%,
    #f2f2f2 50%,
    #f2f2f2 100%
  );
}

h1 {
  font-size: 1.5em;
  margin-bottom: 55px;
}

#social-platforms {
  position: relative;
  top: 100px;
  top: 25vh;
  font-size: 1rem;
  text-align: center;
  height: 250px;
  overflow: hidden;
}

/*Pen code from this point on*/
.btn {
  clear: both;
  white-space: nowrap;
  font-size: 0.8em;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
  margin: 2px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}

.btn:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
}

.btn:focus {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.btn > span,
.btn-icon > i {
  float: left;
  padding: 13px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  line-height: 1em;
}

.btn > span {
  padding: 14px 18px 16px;
  white-space: nowrap;
  color: #fff;
  background: #b8b8b8;
}

.btn:focus > span {
  background: #9a9a9a;
}

.btn-icon > i {
  border-radius: 5px 0 0 5px;
  position: relative;
  width: 13px;
  text-align: center;
  font-size: 1.25em;
  color: #fff;
  background: #212121;
}

.btn-icon > i:after {
  content: "";
  border: 8px solid;
  border-color: transparent transparent transparent #222;
  position: absolute;
  top: 13px;
  right: -15px;
}

.btn-icon:hover > i,
.btn-icon:focus > i {
  color: #fff;
}

.btn-icon > span {
  border-radius: 0 5px 5px 0;
}

/*Facebook*/
.btn-facebook:hover > i,
.btn-facebook:focus > i {
  color: #3b5998;
}

.btn-facebook > span {
  background: #3b5998;
}

/*Twitter*/
.btn-twitter:hover > i,
.btn-twitter:focus > i {
  color: #55acee;
}

.btn-twitter > span {
  background: #55acee;
}

/*Google*/
.btn-googleplus:hover > i,
.btn-googleplus:focus > i {
  color: #dd4b39;
}

.btn-googleplus > span {
  background: #dd4b39;
}

/*Pinterest*/
.btn-pinterest:hover > i,
.btn-pinterest:focus > i {
  color: #cb2028;
}

.btn-pinterest > span {
  background: #cb2028;
}

/*LinkedIn*/
.btn-linkedin:hover > i,
.btn-linkedin:focus > i {
  color: #007bb6;
}

.btn-linkedin > span {
  background: #007bb6;
}
