/* * {
  outline: solid 2px red;
} */

header {
  padding: 10px;
  margin-top: 0px;
  width: 100%;
}
.favicon {
  height: 15px;
  width: 15px;
}
/* Background */

/* fin Background */
main {
  width: 100%;
  height: 100%;
}
body {
  font-size: 18px;
  width: 100%;
  background-image: url(./images/background.png);
  background-repeat: round;
}

h3 {
  font-size: 35px;
  font-weight: bold;
  display: block;
  align-items: center;
  color: #beb6b6;
  width: 100%;
}
h3 > img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin: -9px 10px 0 0;
}
.principal-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
}

.candado {
  width: 40px;
  height: 40px;
  vertical-align: center;
}

/* inicio del blur multicolor del fondo */
.encriptado {
  background: black;
  border: none;
  border-radius: 15px;
  padding: 16px 32px;
  margin: 10px;
  margin-top: 10px;
  width: 94%;
  height: 665px;
}
.encriptado::before {
  content: " ";
  position: absolute;
  top: 43px;
  left: 0;
  z-index: -1;
  width: 98%;
  height: 65%;
  background: linear-gradient(
    45deg,
    red,
    blue,
    deeppink,
    red,
    blue,
    deeppink,
    red,
    blue,
    deeppink
  );
  background-size: 750%;
  border-radius: 15px;
  filter: blur(10px);
  animation: glowing 20s linear infinite;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 375% 0;
  }
  100% {
    background-position: 0% 0;
  }
}
/* Fin del blur multicolor del fondo */

.box-container {
  width: 100%;
  height: 515px;
  padding: 10px;
  display: flex;
}

.input-title,
.result-title {
  color: #ffffff;
  font-size: 20px;
}

div .box-left {
  width: 60%;
  margin: 0 0 0 0;
  height: 495px;
}

div .box-right {
  margin: -10px 0 0 5%;
  padding: 10px;
  width: 40%;
  height: 495px;
  vertical-align: top;
  box-shadow: 0 24px 32px -8px black;
  display: grid;
  justify-items: center;
}

.inputText {
  width: 96%;
  height: 460px;
  display: block;
  font-size: 16px;
  text-align: justify;
  border: none;
  font-style: normal;
  background-color: transparent;
  color: white;
  columns: 50;
  background-color: #141313;
  border-radius: 20px;
}

.outputText {
  width: auto;
  height: 425px;
  display: block;
  font-size: 16px;
  text-align: justify;
  border: none;
  font-style: italic;
  box-shadow: 0 24px 32px -8px black;
  margin: 10px 0 0 0px;
  border-radius: 20px;
  padding: 10px;
  display: inline-block;
  background-image: url("./images/candado.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
}

.btnCopiar {
  font-size: 14px;
  text-align: center;
  width: 110px;
  height: 25px;
  margin: 7px;
  border-radius: 25px;
  background-color: #0a3871;
  color: #ffffff;
  font-weight: bold;
  border: solid;
  border-color: #3b5998;
  border-width: 2px;
  cursor: pointer;
}

.button:hover {
  background: darkorange;
  transform: scale(1.2);
}

.minusculas {
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
  margin: auto;
  text-align: center;
  color: #ffffff;
}

.botones {
  text-align: center;
  margin: 0px;
  width: 100%;
}

.boton-codificar {
  width: 200px;
  height: 45px;
  font-size: 18px;
  color: #ffffff;
  border-radius: 24px;
  padding: 8px;
  background: #0a3871;
  margin-left: 70px;
  border: solid;
  border-color: #3b5998;
  font-weight: bold;
  border-width: 2px;
  cursor: pointer;
}

.boton-desencriptar {
  width: 200px;
  height: 45px;
  font-size: 18px;
  color: #0a3871;
  border-radius: 24px;
  padding: 8px;
  background: #d8dfe8;
  margin-left: 190px;
  font-weight: bold;
  border-color: #3b5998;
  border: solid;
  border-width: 2px;
  cursor: pointer;
}
.social-container {
  height: 0px;
}

/* Footer */

@import url("./font-awesome-4.7.0/css/font-awesome.min.css");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

h1 {
  font-size: 1m;
  margin-bottom: 55px;
  color: #ffffff;
}

#social-platforms {
  position: relative;
  top: 0px;
  font-size: 1rem;
  text-align: center;
  height: 80px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.557);
  padding: 25px;
  border-radius: 15px;
  margin: 0 -10px 0 -10px;
}

.btn {
  clear: both;
  white-space: nowrap;
  font-size: 0.8em;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.35);
  margin: 10px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  overflow: hidden;
}

.btn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.45);
}

.btn:focus {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.btn > span,
.btn-icon > i {
  float: left;
  padding: 8px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  line-height: 1em;
}

.btn > span {
  padding: 9px 17px 9px;
  white-space: nowrap;
  color: #fff;
  background: #b8b8b8;
}

.btn:focus > span {
  background: #9a9a9a;
}

.btn-icon > i {
  border-radius: 5px 0 0 5px;
  position: relative;
  width: 45px;
  text-align: center;
  font-size: 1.2em;
  color: #fff;
  background: #212121;
}

.btn-icon > i:after {
  content: "";
  border: 8px solid;
  border-color: transparent transparent transparent #222;
  position: absolute;
  top: 13px;
  right: -15px;
}

.btn-icon:hover > i,
.btn-icon:focus > i {
  color: #fff;
}

.btn-icon > span {
  border-radius: 0 5px 5px 0;
}

/*Facebook*/
.btn-facebook:hover > i,
.btn-facebook:focus > i {
  color: #3b5998;
}

.btn-facebook > span {
  background: #3b5998;
}

/*Google*/
.btn-github:hover > i,
.btn-github:focus > i {
  color: #dd4b39;
}

.btn-github > span {
  background: #dd4b39;
}

/*LinkedIn*/
.btn-linkedin:hover > i,
.btn-linkedin:focus > i {
  color: #007bb6;
}

.btn-linkedin > span {
  background: #007bb6;
}

/* A partir de este punto CSS de Responsividad */

@media screen and (max-width: 870px) {
  main {
    height: 1040px;
  }

  .input-title,
  .principal-title,
  .result-title,
  .box-right > label {
    text-align: center;
  }

  .encriptado,
  .principal-title p,
  div.box-left,
  div.box-right,
  .inputText,
  .outputText {
    width: 390px;
    transform: scale(0.9);
    display: block;
    height: 450px;
    margin: auto;
    padding: 0;
    text-align: center;
  }
  .box-container,
  .encriptacion {
    margin-left: 0;
    margin-right: 50px;
    width: 370px;
    margin-bottom: 20px;
    display: inline-table;
    padding: 0;
  }
  .encriptado {
    background: black;
    border-radius: 15px;
    margin-left: 15px;
  }

  .encriptacion {
    background: black;
  }
  .encriptado::before {
    height: 1125px;
    position: absolute;
    top: 7px;
    width: 120%;
    margin-left: -15px;
  }

  .box-container {
    height: 940px;
  }
  .cuadro {
    display: flex;
  }
  .minusculas {
    margin-left: auto;
    text-align: center;
  }

  .inputText {
    width: 100%;
    height: 85%;
  }

  .outputText {
    transform: scale(0.95);
    height: 418px;
  }
  .social-container {
    transform: scale(0.9);
    display: flex;
    height: 185px;
  }
  .botones,
  .boton-codificar,
  .boton-desencriptar {
    margin: 10px;
  }
  .boton-codificar,
  .boton-desencriptar {
    width: 130px;
    height: 39px;
    font-size: 14px;
  }
  .botones {
    margin-inline: auto;
    text-align: center;
  }
  #social-platforms {
    position: static;
    top: 0px;
    height: 95px;
    margin: auto;
  }
  #social-plataforms > h1 {
    padding: 4px;
    margin-bottom: 4px;
  }
  .btn {
    font-size: 1em;
    margin: 2px;
    padding: 0.3px;
  }
}
